html,
body {
  width: 100vw; /* Adjust width */
  height: 100vh; /* Full height but within the viewport */
  text-align: center;
}

.square {
  border: 1px solid rgb(108, 107, 107);
  height: 100%;
  padding-left: 100%;
}

.col {
  display: flex;
  height: 90vh;
  flex-direction: column;
  flex: 1;
}

.grid {
  display: flex;
  width: 90vh;
  flex-direction: row;
  justify-content: center;
  margin-left: 10px;
}

.container {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-left: auto;
  flex-direction: column;
}

button {
  width: 200px;
  padding: 10px;
  margin-bottom: 10px;
}
